<h1>Profiles#edit</h1>
<p>Landing page on subsequent logins - latest happenings</p>
<h2>Links</h2>
<ul>
	<li><%= link_to 'Logout', :controller => 'accounts', :action => 'logout' %></li>
</ul>
<p>Find me in app/views/profiles/dashboard.html.erb</p>
