<h1>Profiles#edit</h1>
<p>
	Edit my profile information
</p>
<h2>Links</h2>
<ul>
	<li><%= link_to 'Cancel', :action => 'show' %></li>
	<li><%= link_to 'Logout', :controller => 'accounts', :action => 'logout' %></li>
</ul>
<p>Find me in app/views/profiles/edit.html.erb</p>
