<% title 'Getting Started' -%>

<p>Landing page on first signup - helpful info on how to use the system</p>
<h2>Links</h2>
<ul>
	<li><%= link_to 'Set your privacy preferences', edit_privacy_path -%></li>
	<li><%= link_to 'Edit your profile', edit_profile_path -%></li>
	<li><%= link_to 'Set your location', edit_location_path -%></li>
	<li><%= link_to 'Add some favorite locations', new_favorite_location_path -%></li>
</ul>