<h1>Profiles#edit</h1>
<p>Landing page on first signup - helpful info on how to use the system</p>
<h2>Links</h2>
<ul>
	<li><%= link_to 'Edit your profile', :action => 'edit' %></li>
	<li><%= link_to 'Logout', :controller => 'accounts', :action => 'logout' %></li>
</ul>
<p>Find me in app/views/profiles/getting_started.html.erb</p>
