<% title 'Getting Started' -%>
<% nav_section 'home' -%>

<p class='section'>Landing page on first signup - helpful info on how to use the system</p>

<h2>Links</h2>
<ul class='section'>
	<li><%= link_to 'Set your privacy preferences', edit_privacy_settings_path -%></li>
	<li><%= link_to 'Edit your profile', edit_profile_path -%></li>
	<li><%= link_to 'Set your location', edit_location_path -%></li>
	<li><%= link_to 'Add some favorite locations', formatted_new_favorite_location_path -%></li>
</ul>