<% unless list.empty? -%>
  <% if is_self? -%>
  	<table class='section full'>
  		<tbody>
  			<% list.each do |p| -%><tr>
  				<td><%= link_to_profile(p, :size => 60) -%></td>
  				<td><%= link_to 'Unfollow', unfollow_path(:profile_id => current_user, :follow_profile_id => p), :method => :post -%></td>
  			</tr><% end -%>
  		</tbody>
  	</table>
  <% else -%>
  	<ul class='section full'>
  		<% list.each do |p| -%>
  		<li><%= link_to_profile(p, :size => 60) -%></li>
  		<% end -%>
  	</ul>
  <% end -%>
<% end -%>