<% title 'Following By Tier' -%>

<p>
	People you are following in tier <%= requested_tier %>.
</p>
<%= render :partial => 'following_list', :locals => { :list => requested_profile.followees.by_tier(requested_tier) } -%>