<% title "Followers" -%>
<% nav_section 'contacts' -%>

<% with_grammatical_context(:object => 'follower'.quantitize(list)) do |gc| -%>
<p class='section'>
	<%= gc.subject -%>
	<%= gc.conjugate('has') -%>
	<%= gc.object -%>.
</p>
<% end -%>

<%= render :partial => 'following_list', :locals => { :list => requested_profile.followers } %>