<% title "Following in Tier #{requested_tier}" -%>

<% by_tier = requested_profile.followees.by_tier(requested_tier) -%>

<p class='section'>
<% if by_tier.any? -%>
  You are following <%= 'people'.quantitize(by_tier) -%>
<% else -%>
  You aren't following anybody
<% end -%>
in tier <%= requested_tier -%>.
</p>

<%= render :partial => 'following_list', :locals => { :list => by_tier } -%>