body {
	text-align: center;
}

div {
	margin: 1em;
	padding: 1em;
}

div#content {
	border: 2px solid grey;
	margin: 2.5em auto;
	text-align: left;
	width: 45em;
}

div.fieldWithErrors, div.formError {
	border: 0;
	display: inline;
	margin: 0;
	padding: 0;
}

div.formError {
	color: red;
}

div.fieldWithErrors input, div.fieldWithErrors textarea, div.fieldWithErrors select {
	color: black;
}

div.flash.error {
	color: red;
}

div.flash.warning {
	color: orange;
}

fieldset {
	border: 1px solid black;
	margin: 1em;
	padding: 1em;	
}

h2 {
	margin-top: 1em;
}

th {
	padding-right: 1em;
	text-align: right;
}

ul, ol {
	margin: 1em 0;
}