body {
	font-size: 62.5%;
	text-align: center;
}

div#wrapper {
	clear: both;
	margin: 2em auto;
	width: 88em;
}

div#header, div#content, div#sidebar, div#navbar, div#footer {
	font-size: 1.6em;
	padding: 1em;
}

div#header {
	border: 2px solid black;
	border-bottom: 0;
	text-align: left;
}

div#header .logo, div#header h1 {
	vertical-align: middle;
}

div#main {
	border: 2px solid black;
	border-top: 0;
	border-bottom: 0;
}

div#main div.baseline {
	clear: both;
}

div#content {
	min-height: 14em;
	text-align: left;
}

div#footer {
	clear: both;
}

div.fieldWithErrors, div.formError {
	border: 0;
	display: inline;
	margin: 0;
	padding: 0;
}

div.formError {
	color: red;
}

div.fieldWithErrors input, div.fieldWithErrors textarea, div.fieldWithErrors select {
	color: black;
}

div.flash.error {
	color: red;
}

div.flash.warning {
	color: orange;
}

fieldset {
	border: 1px solid black;
	margin: 1em;
	padding: 1em;	
}

h2 {
	margin-top: 1em;
}

th {
	padding-right: 1em;
	text-align: right;
}

ul, ol {
	margin: 1em 0;
}