table {
	border-spacing: 0 .2em;
}

table.section {
	width: 99%;
}

table th, table td {
	padding: 1em;
}

table th {
	font-weight: bold;
}

table thead th {
	text-align: left;
}

table tbody th {
	padding-right: 1em;
	text-align: right;
}

table tbody tr + tr td, table tbody tr + tr th {
	border-top: 3px solid black;
}

table tbody th, table tbody td {
	text-align: left;
}

table td {
	padding: .1em;
}