<h1>Static#tour</h1>
<h2>Links</h2>
<ul>
	<li><%= link_to 'Welcome', :action => 'welcome' %></li>
	<li><%= link_to 'Signup', :controller => 'accounts', :action => 'signup' %></li>
</ul>
<p>Find me in app/views/static/tour.html.erb</p>
