<% title 'Welcome' -%>
<% nav_section 'home' -%>

<h2>Links</h2>
<ul class='section'>
	<li><%= link_to 'About Us', document_path(:page => 'about_us') -%></li>
	<li><%= link_to 'Privacy Policy', document_path(:page => 'privacy_policy') -%></li>
	<li><%= link_to 'Terms of Service', document_path(:page => 'terms_of_service') -%></li>
</ul>