<%
  @header = if requested_profile.location.kind_of?(Location::Airport)
		"People in #{requested_profile.location} airport"
	else
		"People near #{requested_profile.location}"
	end
%>
<h1><%= @header -%>: (<%= link_to edit_location_path -%>)</h1>
<ul>
	<% @whos_around.each do |p| -%>
	<li><%= link_to p, profile_path(:profile_id => p) -%></li>
	<% end -%>
</ul>