<p>
<% if requested_profile.location.kind_of?(Location::Airport) -%>
	People in <%= requested_profile.location -%> airport:
<% else -%>
	People near <%= requested_profile.location -%>:
<% end -%>
</p>

<ul>
	<% @whos_around.each do |p| -%>
	<li><%= link_to p, profile_path(:profile_id => p) -%></li>
	<% end -%>
</ul>