<% title "#{display_name(requested_profile, :case => :possessive)} Current Location" -%>
<% nav_section 'whos_around' -%>

<p class='section'>
	<%= render :partial => 'location/current', :locals => { :profile => requested_profile } -%>
	<%= @location.kind_of?(Location::Airport) ? 'Airport' : '' -%>.
</p>

<p class='section'>
  <%= link_to 'Somewhere else?', edit_location_path(:profile => requested_profile) -%>
</p>
