<% title 'Where are You?' -%>
<% nav_section 'whos_around' -%>

<% form_tag location_path, :method => :put, :class => 'horizontal section' do -%>
	<%= text_field_tag :location, params[:location] || requested_profile.location, :class => 'text focus' %>
	<%= submit_tag 'Update your location', :class => 'button' %>	
<% end -%>

<p class='section'>
	If you're on a layover between flights and want to set your location to an
	airport terminal, you might want to read the reference on
	<%= link_to 'airport codes', :controller => 'static', :action => 'page', :page => 'airport_codes' -%>.
</p>