<h1>Locations#whos_around</h1>
<h2>Nearby people:
<ul>
	<li><%= link_to 'John', :controller => 'profiles', :action => 'show', :profile_id => 3345 -%></li>
	<li><%= link_to 'Jane', :controller => 'profiles', :action => 'show', :profile_id => 11 -%></li>
	<li><%= link_to 'Jess', :controller => 'profiles', :action => 'show', :profile_id => 59492 -%></li>
</ul>
<p>Find me in app/views/locations/whos_around.html.erb</p>
